:root {
	--fill: white;
	--offset: #f7f7f7;
	--line: #00040f;
	--green: #00f7ba;
	--greem: #00ffcc;
	--quiet-cyan: #00f0dd;
	--cloud-pink: #ec71f8;
	--cloud-yellow: #ffea4d;
	--super-hot: #ff2a70;
	--shadow-px: 2px;
	--shadow: color-mix(in srgb, var(--fill) 80%, var(--line));
	--heavy-shadow-px: 4px;
	--heavy-shadow: color-mix(in srgb, var(--fill) 60%, var(--line));
	--button-border-px: 4px;
}

* {
	scrollbar-color: var(--background) var(--foreground);
	font-family: qp;
	box-sizing: border-box;
}

html {
	font-size: 1.4em;
	line-height: 1.15;
}

deluge-kit {
	max-width: 1024px;
	margin: auto;
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: column;
	height: 100vh;
	background: var(--background);
	padding-top: 1em;
}

@font-face {
	font-family: qp;
	src: url("/aux/fonts/iosevka-qp-regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: qp;
	src: url("/aux/fonts/iosevka-qp-light.ttf") format("truetype");
	font-display: swap;
	font-weight: 200;
}

@font-face {
	font-family: fs;
	src: url("/aux/fonts/fs.woff");
	font-display: swap;
}
