:root {
	--fill: white;
	--line: black;
	--font-family: monospace;
	--fill: white;
	--offset: #f7f7f7;
	--line: #00040f;
	--green: #00f7ba;
	--greem: #00ffcc;
	--quiet-cyan: #00f0dd;
	--cloud-pink: #ec71f8;
	--cloud-yellow: #ffea4d;
	--super-hot: #ff2a70;
	--cherries-light: #ffe9ed;
	--cherries-dark: #cc3366;
	--holy-light: white;
	--holy-dark: black;
	--cherries-yellow: #ffd807;
	--2013-body-grey: #333;
	--orla-foster-2003-bermuda-cocktail-number-3: #3399ff;
	--font-family: qp, iosevka, monaco, monospace;
	--shadow-px: 2px;
	/* --shadow: color-mix(in srgb, var(--fill) 80%, var(--line)); */
	--heavy-shadow-px: 4px;
	--heavy-shadow: color-mix(in srgb, var(--fill) 60%, var(--line));
	/* --button-border-px: 4px; */
}

* {
	scrollbar-color: var(--line) var(--fill);
	font-family: qp;
	box-sizing: border-box;
}

html {
	font-size: 1.4em;
	line-height: 1.15;
	background: var(--fill);
	color: var(--line);
	background: var(--cherries-light);
}

body {
	display: flex;
	align-items: center;
}

canvas {
	margin: auto;
}

textarea {
	font-family: var(--font-family);
	white-space: pre-wrap;
	background: var(--holy-light);
	font-size: 0.8rem;
	width: 84ch;
	border: 1px solid var(--cherries-dark);
	margin: auto;
}

figure {
	padding: 0;
	margin: 0;
}

[drop-target] {
	outline: 1em dotted var(--greem);
}

@font-face {
	font-family: qp;
	src: url("/aux/fonts/iosevka-qp-regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: qp;
	src: url("/aux/fonts/iosevka-qp-light.ttf") format("truetype");
	font-display: swap;
	font-weight: 200;
}

@font-face {
	font-family: fs;
	src: url("/aux/fonts/fs.woff");
	font-display: swap;
}
