:root {
	--fill: black;
	--line: white;
	--screen-fill: var(--fill);
	--screen-line: #00ffff;
	font-size: 16px;
}

input {
	background: var(--fill);
	color: var(--line);
	border: 0;
	outline: none;
	width: 100%;

	font-family: var(--font-family);
	font-size: 16px;
	margin-left: 2ch;
}

body {
	display: flex;
	flex-direction: column;
	width: 400px;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	height: 100vh;
}

canvas {
	width: 400px;
	height: 400px;
}

label {
	margin-top: 1em;
	text-align: left;
}
