:root {
	--page-fill: var(--cherries-light);
	--page-line: var(--cherries-dark);
	font-size: 2em;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
	gap: 1em;
}

main * {
	background: white;
}
